



.btn-space {
    margin-left: 2rem;
}

.error {
    background-color: rgb(255, 179, 179);
    border: solid 1px red;
}

.service-btn {
    margin-top: 1rem;
}

.form-div {
    margin: 1rem 0;
}

.carousel .carousel-item {
    max-height:550px;
}

.carousel-item img {
    max-height:550px;
}

.img-1 {
    object-fit: contain;
}

.img-2 {
    object-fit: contain;
}

.img-3 {
    object-fit: contain;
}

/* LIGHT MODE AND DARK MODE CSS */

.checkbox {
    opacity: 0;
    position: absolute;
    display: none !important;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: #f1c40f;
    margin-right: 2px;
}

.fa-sun {
    color: #f39c12;
    margin-left: 4px;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 5px;
    right: 1px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}
#checkbox {display: none;}

